body {
  padding: 50px;
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
}

a {
  color: #00B7FF;
}

.navbar {
  background: none;
  border: none;
  border-bottom: 1px solid;
  width: 60%;
  margin: auto;
  color: black;
  text-align: center;
}

h1 {
  text-align: center;
  font-family: 'Alex Brush', cursive;
  font-size: 100px;
  padding-top: 100px;
  padding-bottom: 80px;
}

#nav-about {
  background: none;
  border: none;
  border-bottom: 1px solid;
}

.home-nav {
  display: inline-block;
  float: none;
}

.img-social {
  height: 80px;
  width: 80px;
  margin: auto;
  padding: 4px;
  margin-top: 30px;
}

h3, h4 {
  text-transform: uppercase;
  text-align: center;
  padding-top: 20px;
}

h4 {
  padding-top: 40px;
  text-align: left;
}

ul {
  list-style-type: disc;
}

hr {
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.nav-resume {
  border: none;
}

.page-title {
  padding-top: 20px;
  padding-bottom: 20px;
}

.p-info {
  text-align: center;
}

.project {
  margin-top: 100px;
  float: left;
  margin-left: 50px;
}

.project-title {
  text-align: center;
  padding-top: 25px;
  font-size: 30px;
  text-transform: capitalize;
}

.link-info {
  text-align: center;
  padding-top: 40px;
}

.big-break {
  margin-top: 56px;
}

img {
  height: 300px;
  width: 300px;
  border: 1px solid;
  border-radius: 5%;
}

.btn-default {
  border: 1px solid;
}

.bio-page {
  text-align: left;
}

.my-pic {
  height: 311px;
  width: 220px;
  margin-left: -90px;
  float: left;
  margin-right: 20px;
}

.ter-pic {
  width: 500px;
  margin-right: -90px;
  margin-left: 20px;
  float: right;
}

.start-p {
  font-family: 'Alex Brush', cursive;
  font-size: 50px;
  float: left;
  margin-bottom: -20px;
  margin-top: -29px;
  margin-right: 6px;
}

.game-info {
  text-align: center;
  margin-top: 40px;
}

.project-header {
  margin-top: -20px;
}

.single-img {
  height: 400px;
  width: 400px;
  border: 1px solid;
  border-radius: 5%;
  margin-left: 75px;
  margin-top: -40px;
}

.portfolio-btn {
  /*margin: 30px;*/
}