<nav class="navbar navbar-default" id="nav-about">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#/">Home</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#/portfolio">Portfolio</a></li>
        <li><a href="#/bio">Bio</a></li>
        <li><a href="#/resume">Resume</a></li>
        <li><a href="#/contact">Contact</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<h1 class="page-title">Bio</h1>

<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <img class="my-pic" src="../img/personal.jpg">
      <p class="start-p">Hi there. </p><p class="bio-page">I'm Kierston. I currently live in Castle Rock, CO. I'm a dental assistant turned web developer. After dabbling in the development world I decided to attend a 6 month boot camp at Galvanize. The world of web development is exciting and full of changing technologies and new advancements. I enjoy solving problems and pushing myself to overcome new challenges. I write Javascript and use the MEAN stack. I am very interested in UI/UX.</p>
      <p class="bio-page">I am passionate about life and making the lives of those around me better. I'm interested in learning how I can use technology to increase the quality of life for people. I want to be a part of something bigger, something that can benefit others. I enjoy working with others and making useful contributions.</p>
      <img class="ter-pic" src="../img/terence.jpg">
      <p class="bio-page">I have been married for 6 years. My husband and I met at an Ultimate Frisbee tournament while playing for our respective colleges. Our dog Nelli joined our family 3 years ago. We love everything about the outdoors, including, hiking, rock climbing, and camping. We love having adventures and experiencing new things.</p>
    </div>
  </div>
</div>