<nav class="navbar navbar-default" id="nav-about">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#/">Home</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#/portfolio">Portfolio</a></li>
        <li><a href="#/bio">Bio</a></li>
        <li><a href="#/resume">Resume</a></li>
        <li><a href="#/contact">Contact</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<h1 class="page-title">Contact</h1>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <p class="p-info">Please contact me with any questions.</p>
      <ul class="list-inline banner-social-buttons">
        <li>
          <a href="https://twitter.com/kierston_hill" class="btn"><img class="img-social" src="../img/twitter.png"></a>
        </li>
        <li>
          <a href="https://www.linkedin.com/profile/view?id=AAIAABnPlaQB6H340z1FAI3QzrKdfVxaD73qsSs&trk=nav_responsive_tab_profile" class="btn"><img class="img-social" src="../img/linkedin.png"></a>
        </li>
        <li>
          <a href="https://github.com/KierstonHill83" class="btn"><img class="img-social" src="../img/github.png"></a>
        </li>
        <li>
          <a href="" class="btn"><img class="img-social" src="../img/envelope.png"></a>
        </li>
      </ul>
      <p class="copyright text-muted small">Copyright &copy Kierston Hill 2015. All Rights Reserved</p>
    </div> <!-- close col -->
  </div> <!-- close row -->
</div> <!-- close container -->