<nav class="navbar navbar-default" id="nav-about">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#/">Home</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#/portfolio">Portfolio</a></li>
        <li><a href="#/bio">Bio</a></li>
        <li><a href="#/resume">Resume</a></li>
        <li><a href="#/contact">Contact</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1 class="project-header">Dots & Boxes Game</h1>
      <img class="single-img" src="../img/dotsGame.png">
      <p class="game-info">This is a classic childhood game. Be the last person to complete the box to get a point. The person with the most points wins the game. I created this app with Javascript and Object Oriented Programming. There is an option for 2 players or for 1 player which useses an AI.</p>
      <p class="game-technologies">HTML/CSS/Javascript/jQuery</p>
      <div class="btns">
        <a type="button" class="btn btn-default btn-lg portfolio-btn" href="//github.com/KierstonHill83/Dots-and-Boxes-Game">Github</a>
        <a type="button" class="btn btn-default btn-lg portfolio-btn" href="//dots-and-boxes-game.herokuapp.com/">Heroku</a>
      </div>
    </div>
  </div>
</div>