<h1>Kierston Hill</h1>

<nav class="navbar navbar-default center">
  <div class="container-fluid">

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav home-nav">
            <li><a href="#/portfolio">Portfolio</a></li>
            <li><a href="#/bio">Bio</a></li>
            <li><a href="#/resume">Resume</a></li>
            <li><a href="#/contact">Contact</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div>
    </div>
  </div><!-- /.container-fluid -->
</nav>