<nav class="navbar navbar-default" id="nav-about">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#/">Home</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#/portfolio">Portfolio</a></li>
        <li><a href="#/bio">Bio</a></li>
        <li><a href="#/resume">Resume</a></li>
        <li><a href="#/contact">Contact</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div>
  <h1 class="page-title">Portfolio</h1>
  <div class="col-md-6 col-md-offset-3">
    <p class="p-info">Click on the more info button below each picture for a brief description about each project. You will also find a link to Github which will take you to the source code for each project. Also there is a link to heroku which will provides a working demo of each project.</p>
  </div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="project">
      <img class="portfolio-img" src="../img/dotsGame.png" data-toggle="modal" data-target="#dotsGameModal">
    </div>
    <div class="project">
      <img class="portfolio-img" src="../img/meal.png" data-toggle="modal" data-target="#mealGeneratorModal">
    </div>
    <div class="project">
      <img class="portfolio-img" src="../img/translator.png" data-toggle="modal" data-target="#translatorModal">
    </div>
  </div>
</div>

<div class="modal fade in" id="dotsGameModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
        <h1 class="modal-title" id="dotsGameModal">Dots & Boxes Game</h1>
      </div>
      <div class="modal-body">
        <div class="modal-img-div">
          <img src="" alt="" class="modal-image">
          <img src="" alt="" class="modal-image">
        </div>
        <br>
      </div>
      <div>
        <p class="game-info">This is a classic childhood game. Be the last person to complete the box to get a point. The person with the most points wins the game. I created this app with Javascript and Object Oriented Programming. There is an option for 2 players or for 1 player which useses an AI.</p>
        <p class="game-technologies">HTML/CSS/Javascript/jQuery</p>
        <div class="btns">
          <a type="button" class="btn btn-default btn-md portfolio-btn" href="//github.com/KierstonHill83/Dots-and-Boxes-Game">Github</a>
          <a type="button" class="btn btn-default btn-md portfolio-btn" href="//dots-and-boxes-game.herokuapp.com/">Heroku</a>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade in" id="mealGeneratorModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
        <h1 class="modal-title" id="mealGeneratorModal">Random Meal Generator</h1>
      </div>
      <div class="modal-body">
        <div class="modal-img-div">
          <img src="" alt="" class="modal-image">
          <img src="" alt="" class="modal-image">
        </div>
        <br>
      </div>
      <div>
        <p class="game-info">The purpose of the Random Meal Generator is for those who just can't figure out what to cook. On the home page there is the option to create a meal. The user inputs a type of food (enchiladas, soup, cake) and an ingredient, and then a random meal is shown using the Recipe Puppy API. You also have the option to register, which will then take you to your own personal page. On your personal page you will be able to plan a weeks worth of meals using the same format.</p>
        <p class="game-technologies">HTML/CSS/Javascript/Node/Mongo/Express/Angular</p>
        <div class="btns">
          <a type="button" class="btn btn-default btn-md portofolio-btn" href="//github.com/KierstonHill83/Random-Meal-Generator">Github</a>
          <a type="button" class="btn btn-default btn-md portfolio-btn" href="">Heroku</a>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade in" id="translatorModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
        <h1 class="modal-title" id="translatorModal">Bananas & Butterflies</h1>
      </div>
      <div class="modal-body">
        <div class="modal-img-div">
          <img src="" alt="" class="modal-image">
          <img src="" alt="" class="modal-image">
        </div>
        <br>
      </div>
      <div>
        <p class="game-info">This is a translator app. The user can enter words and the language they would like it translated into. They can also take a quiz in any language they choose. The user can see their stats after the quiz has finished.</p>
        <p class="game-technologies">HTML/CSS/Javascript/jQuery/Node/Mongo/Express</p>
        <div class="btns">
          <a type="button" class="btn btn-default btn-md portofolio-btn" href="//github.com/KierstonHill83/hola-mundo-translator">Github</a>
          <a type="button" class="btn btn-default btn-md portfolio-btn" href="">Heroku</a>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
