<nav class="navbar navbar-default" id="nav-about">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#/">Home</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#/portfolio">Portfolio</a></li>
        <li><a href="#/bio">Bio</a></li>
        <li><a href="#/resume">Resume</a></li>
        <li><a href="#/contact">Contact</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div>
  <h1 class="page-title">Portfolio</h1>
  <p class="p-info">Click on a project for a working demo on heroku. Click on the link to github to see the source code.</p>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="project">
      <img src="../img/dotsGame.png">
   <!--    <h4 class="project-title">Dots & Boxes<br>Game</h4> -->
      <div class="link-info">
        <button type="button" class="btn btn-lg btn-default">More Info</button>
      </div>
    </div>
    <div class="project">
      <img src="../img/meal.png">
      <!-- <h4 class="project-title">Random Meal<br>Generator</h4> -->
      <div class="link-info">
        <button type="button" class="btn btn-lg btn-default">More Info</button>
      </div>
    </div>
    <div class="project">
      <img src="../img/translator.png">
      <!-- <h4 class="project-title">Bananas & Butterflies</h4> -->
      <div class="link-info">
        <button type="button" class="btn btn-lg btn-default">More Info</button>
      </div>
    </div>
  </div>
</div>