<nav class="navbar navbar-default" id="nav-about">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#/">Home</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#/portfolio">Portfolio</a></li>
        <li><a href="#/bio">Bio</a></li>
        <li><a href="#/resume">Resume</a></li>
        <li><a href="#/contact">Contact</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<h1 class="page-title">Resume</h1>
<hr>

<div class="row">
  <div class="col-md-6">
    <h3>Technologies</h3>
  </div>
  <div class="col-md-6">
    <h4>Experience with</h4>
    <ul>
      <li>HTML</li>
      <li>CSS</li>
      <li>Javascript</li>
      <li>Node</li>
      <li>Mongo</li>
      <li>Angular</li>
      <li>Express</li>
      <li>SQL</li>
      <li>jQuery</li>
      <li>Sublime</li>
      <li>Bootstrap</li>
      <li>Mongoose</li>
      <li>Postgres</li>
      <li>Mocha & Chai</li>
      <li>Jasmine</li>
      <li>Gulp</li>
    </ul>
  </div>
</div> <!-- close row -->
<hr class="big-break">

<div class="row">
  <div class="col-md-6">
    <h3>Education</h3>
  </div>
  <div class="col-md-6">
    <h4>Galvanize</h4>
    <p>July 2015 - December 2015</p>
    <p>Denver, CO</p>
    <p>24 week intense program, designed to teach modern web technologies. Focused on Javascript and the MEAN stack.</p>
    <h4>Brigham Young University-Idaho</h4>
    <p>August 2003 - May 2008</p>
    <p>Rexburg, ID</p>
    <p>Bachelor of Science in University Studies</p>
    <p>Associates Degree in Professional Preschool Education</p>
  </div>
</div> <!-- close row -->
<hr class="big-break">

<div class="row">
  <div class="col-md-6">
    <h3>Work Experience</h3>
  </div>
  <div class="col-md-6">
    <h4>Burning Tree Family Dentistry</h4>
    <p>July 2010 - July 2015</p>
    <p>Franktown, CO</p>
    <p>Dental Assistant</p>
    <p class="indent">Managed ordering and stock of all clinical supplies</p>
    <p class="indent">Established office protocols</p>
    <p class="indent">Assisted dentist as lead assistant</p>
    <p class="indent">Developed and maintained client and employee relationships</p>
    <p class="indent">Learned dental software systems in-depth and taught others to use it efficiently</p>
    <p class="indent">Managed implementation of digitizing the office</p>
    <p class="indent">Managed and trained all other assistants</p>
    <h4>Sharon Elementary</h4>
    <p>August 2009 - March 2010</p>
    <p>Orem, UT</p>
    <p>Special Needs Preschool Teacher</p>
    <p class="indent">Assisted in both planning and executing lessons prepared for children with special needs</p>
    <p class="indent">Developed activities to help children reach their goals</p>
    <p class="indent">Worked closely with both school administration and parents</p>
    <h4>Madison School District</h4>
    <p>Rexburg, ID</p>
    <p>August 2007 - June 2009</p>
    <p>One-on-One Para-Professional</p>
    <p class="indent">Modified lessons for the needs of my student</p>
    <p class="indent">Have a lot of patience and deal well with stressful situations</p>
    <p class="indent">Participated in IEP meetings</p>
    <p class="indent">Supervise interventions for children with behavior problems</p>
  </div>
</div> <!-- close row -->
<hr class="big-break">

<div class="row">
  <div class="col-md-6">
    <h3>Skills</h3>
  </div>
  <div class="col-md-6">
    <h4>Skills</h4>
    <ul>
      <li>Excellent interpersonal communication skills</li>
      <li>Able to quickly learn and implement new systems</li>
    </ul>
  </div>
</div> <!-- close row -->
<hr class="big-break">
