<nav class="navbar navbar-default" id="nav-about">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#/">Home</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#/portfolio">Portfolio</a></li>
        <li><a href="#/bio">Bio</a></li>
        <li><a href="#/resume">Resume</a></li>
        <li><a href="#/contact">Contact</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h1 class="project-header">Bananas & Butterflies</h1>
    </div>
    <div class="col-md-8 col-md-offset-2">
      <img class="single-img" src="../img/translator.png">
      <p class="game-info">This is a translator app. The user can enter words and the language they would like it translated into. They can also take a quiz in any language they choose. The user can see their stats after the quiz has finished.</p>
      <p class="game-technologies">HTML/CSS/Javascript/jQuery/Node/Mongo/Express</p>
      <div class="btns">
        <a type="button" class="btn btn-default btn-lg portofolio-btn" href="//github.com/KierstonHill83/hola-mundo-translator">Github</a>
        <a type="button" class="btn btn-default btn-lg portfolio-btn" href="">Heroku</a>
      </div>
    </div>
  </div>
</div>